* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

picture {
  display: flex;
}

img {
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;

  background: var(--background);
  color: var(--text-color);
}

.container {
  max-width: calc(1400px + 10px * 2);
  width: 95%;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 1280px) {
    width: 85%;
  }

  @media (max-width: 992px) {
    width: 90%;
    max-width: 820px;
  }

  @media (max-width: 576px) {
    padding: 0 16px;
    width: 100%;
  }
}

.container-small {
  max-width: 890px;
  width: 95%;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 1280px) {
    width: 85%;
  }

  @media (max-width: 992px) {
    width: 90%;
    max-width: 820px;
  }

  @media (max-width: 576px) {
    padding: 0 16px;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(239, 239, 239, 0.5);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(57, 57, 57, 0.3);
  z-index: 1;
  cursor: pointer;

  &:hover {
    background: rgba(57, 57, 57, 0.45);
  }

  &:active {
    background: rgba(57, 57, 57, 0.6);
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(239, 239, 239, 0.2);
}

*::selection {
  background: rgba(206, 205, 205, 0.8);
  color: #2b2b2b;
}

img {
  max-width: 100%;
}

.emoji {
  white-space: nowrap;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.4s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.drop-enter-active,
.drop-leave-active {
  overflow: hidden;
}

.drop-enter,
.drop-leave-to {
  height: 0;
}

img[data-loaded] {
  opacity: 1; /* Показываем изображение после загрузки */
}

@import "./vars";
@import "./components/nav-bar";
@import "./components/addish-item";
@import "./components/ingredient-item";

@import "./components/addish-cart";
@import "./components/pizza-modal";
@import "./components/constructor-result";

@import "./UI/pizza-input";
@import "./UI/pizza-checkbox";
@import "./UI/filter-sort";

.loading-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  z-index: 5;

  &.hide {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  @keyframes spinner {
    from {
    }
    to {
      transform: rotate(360deg);
    }
  }

  .loader-element {
    display: block;
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    border: 5px solid #f4576d;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spinner 1s linear infinite;
    box-sizing: border-box;
  }
}
