.button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
  text-align: center;

  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 40px;
  color: var(--button-text);
  background: var(--button-bg);
  transition: all 0.3s;

  @media (max-width: 576px) {
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 14px;
    height: 37px;
  }

  &:hover,
  &:active {
    background: var(--button-bg-hover);
  }
}

.main-button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
  text-align: center;

  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  color: rgb(252 252 253);
  background: #f4576d;
  height: 40px;
  transition: all 0.3s;

  &:hover,
  &:active {
    background: var(--accent-hover);
  }

  &:disabled {
    opacity: 0.8;
    cursor: default;
  }

  @media (max-width: 576px) {
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 14px;
    height: 37px;
  }
}

.button-unactive {
  background: #80808061;
  color: #fff;
  cursor: default;
  &:hover,
  &:active {
    background: #80808088;
  }
}

.loading {
  &:disabled {
    animation: shine 4s infinite;
    background-image: linear-gradient(
      90deg,
      transparent 25%,
      rgba(240, 240, 240, 50%) 50%,
      transparent 75%
    );
    background-size: 100% 100%;
  }
}

@keyframes shine {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.update-icon {
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 18px;
  border: 0;
  padding: 0;
  color: var(--accent);
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;

  svg {
    transition: all 0.6s;
    display: block;
    width: 20px;
    height: 20px;

    path {
      stroke: var(--accent);
      stroke-width: 4px;
    }
  }

  @media (hover: hover) {
    &:hover {
      svg {
        transform: rotate(-360deg);
      }
    }
  }
}

.pizza-error {
  position: absolute;
  top: -25px;
  width: 100%;

  color: var(--accent);
  font-weight: 500;

  span {
    font-size: 14px;
    display: inline;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
}
