.button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
  text-align: center;

  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 40px;
  color: var(--button-text);
  background: var(--button-bg);
  transition: all 0.3s;

  @media (max-width: 576px) {
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 14px;
    height: 37px;
  }

  &:hover,
  &:active {
    background: var(--button-bg-hover);
  }
}

.main-button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
  text-align: center;

  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  color: rgb(252 252 253);
  background: #f4576d;
  height: 40px;
  transition: all 0.3s;

  &:hover,
  &:active {
    background: var(--accent-hover);
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  @media (max-width: 576px) {
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 14px;
    height: 37px;
  }
}

.loading {
  &:disabled {
    cursor: default;
    animation: inProcessAnimation 3s infinite;
    background-image: linear-gradient(
      90deg,
      var(--background),
      transparent,
      var(--overlay),
      transparent,
      var(--background)
    ) !important;
    background-size: 400% 100% !important;
  }
}

@keyframes inProcessAnimation {
  0% {
    background-position: 0 33%;
  }
  50% {
    background-position: 33% 66%;
  }
  100% {
    background-position: 66% 100%;
  }
}

.policy {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
  span {
    color: var(--accent);
    cursor: pointer;
  }
}
