.filter,
.sort {
  position: relative;

  .caption {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    svg {
      circle {
        stroke: var(--icons);
      }

      path {
        fill: var(--icons);
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      text-align: center;

      background: var(--accent);
      color: rgb(252 252 253);

      width: 16px;
      height: 16px;
      font-size: 11px;
      font-weight: 500;
      border-radius: 100%;

      position: absolute;
      right: -3px;
      top: 3px;
      transform: translateY(-55%);
    }
  }

  .body {
    background: var(--background-vs-opacity);
    transition: all 0.2s;
    position: absolute;
    right: 0;
    padding: 15px;
    z-index: 9;
    border-radius: 5px;
    box-shadow: 0 15px 15px -10px var(--shadow);
    width: 210px;
    top: calc(100% + 5px);

    &-list {
      &__item {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        span {
          font-size: 15px;
          color: var(--placeholder);
        }
      }
    }

    .clear {
      color: var(--accent);
      cursor: pointer;
      margin-top: 20px;
      font-weight: 500;
      text-align: center;
    }
  }
}
