.pizza-checkbox {
  .checkbox {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 100%;
    cursor: pointer;

    .box {
      width: 18px;
      height: 18px;
      border: 1px solid #bbbbbb;
      border-radius: 2px;
      background-color: var(--background);
      transition: 0.3s all;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 10px;

      svg {
        width: 12px;
        height: 10px;
      }

      @media (max-width: 576px) {
        width: 16px;
        height: 16px;

        svg {
          width: 10px;
          height: 8px;
        }
      }

      svg path {
        display: none;
      }
    }

    &-active .box {
      background-color: var(--accent);
      border: 1px solid var(--accent);
      svg path {
        display: block;
        stroke-dasharray: 700;
        animation: dash 2s linear alternate 1;
      }
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 822;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
}
