.expand-enter-active,
.expand-leave-active {
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0;
}

.expand-enter,
.expand-leave-to {
  height: 0;
  margin: 0;
  padding: 0;
}

.addish-cart {
  &__container {
    background: var(--background);
  }

  .addish-item {
    position: relative;
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;

    margin-bottom: 20px;
    padding: 20px 20px 30px;

    @media (max-width: 576px) {
      padding: 12px 16px 20px;
    }

    &__img {
      aspect-ratio: 1/1;
      max-width: 90px;
      width: 100%;
      margin-right: 20px;
    }

    &__content {
      .content-name {
        font-weight: 500;
        margin-bottom: 5px;
        padding-right: 20px;
      }

      .content-description {
        opacity: 0.6;
        font-size: 14px;
      }

      .content-ingredient {
        opacity: 0.7;
        font-size: 14px;
      }
    }

    &__bottom {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid var(--placeholder);
      grid-column: 1/3;

      display: flex;
      align-items: center;
      justify-content: space-between;

      b {
        display: block;
        font-weight: 600;
        font-size: 1.15rem;
      }

      .bottom-controller {
        display: flex;
        align-items: center;

        p.edit {
          color: var(--accent);
          margin-right: 15px;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.3s;

          &:hover,
          &:active {
            color: rgb(242, 58, 84);
          }
        }
      }
    }

    .remove-button {
      margin: 0px;
      padding: 0px;
      background: none;
      border: none;
      font: inherit;
      cursor: pointer;
      position: absolute;
      top: 16px;
      right: 24px;
      width: 16px;
      height: 16px;

      @media (max-width: 426px) {
        right: 16px;
      }

      svg path {
        fill: var(--text-color);
      }
    }
  }
}
