.constructor-result {
  @media (max-width: 768px) {
    width: 90%;
    max-width: 520px;
    margin: 0 auto 20px;
  }

  .toggle-wrapper {
    max-width: 400px;
    margin: 0 auto 20px;
  }

  img {
    width: 100%;
  }

  &__component {
    position: absolute;
    top: 0;
    width: 100%;

    &.sauce-img img {
      opacity: 0.85;
    }
  }

  &__container {
    max-width: 420px;
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    margin: 10px auto;
  }

  .result-description {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }

  .result-mass {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .main-button {
    margin: 20px auto 0;
    max-width: 220px;
    height: 42px;

    position: relative;

    span {
      position: absolute;
      display: block;
    }
  }

  .result-reset {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
  }

  .result-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

    .result-mass {
      margin-right: 30px;
    }
  }
}
