.constructor-result {
  @media (max-width: 768px) {
    width: 90%;
    max-width: 520px;
    margin: 0 auto 20px;
  }

  .toggle-wrapper {
    max-width: 400px;
    margin: 0 auto 20px;
  }

  img {
    width: 100%;
  }

  &__component {
    position: absolute;
    top: 0;
    width: 100%;

    &.sauce-img img {
      opacity: 0.85;
    }
  }

  &__container {
    max-width: 420px;
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    margin: 10px auto;
  }

  .result-description {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }

  .result-mass {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .main-button {
    margin: 20px auto 0;
    max-width: 220px;
    height: 42px;

    position: relative;

    span {
      position: absolute;
      display: block;
    }
  }

  .result-reset {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 36px;
    font-size: 18px;
    border: 0;
    padding: 0;
    color: var(--accent);
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
    font-weight: 600;

    svg {
      transition: all 0.6s;
      display: block;
      width: 20px;
      height: 20px;

      path {
        stroke: var(--accent);
        stroke-width: 4px;
      }
    }

    &:hover {
      svg {
        transform: rotate(-360deg);
      }
    }
  }

  .result-row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    justify-content: center;
  }
}
