nav {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: var(--background-opacity);

  .container {
    position: relative;
  }

  &.fixed {
    box-shadow: 0 15px 15px -10px var(--shadow);
    //var(--shadow) 0px 2px 15px -2px;
    backdrop-filter: blur(20px);
  }

  .nav-wrapper {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link-box {
      display: flex;
      align-items: center;
      margin-right: 20px;

      @media (max-width: 768px) {
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          height: 2px;
          background-color: var(--placeholder);
        }

        &::-webkit-scrollbar-track {
          background-color: var(--placeholder);
        }

        &::-webkit-scrollbar-thumb {
          background: var(--scrollbar-modal);
          cursor: pointer;
          z-index: 1;
        }
      }

      @media (max-width: 576px) {
        margin-right: 0;
      }

      li {
        cursor: pointer;
        display: block;
      }

      &__item {
        margin-right: 20px;
        font-weight: 500;
        transition: all 0.2s;

        &--active {
          color: var(--accent);

          &:hover {
            color: var(--accent-hover);
          }
        }

        @media (hover: hover) {
          &:hover {
            color: var(--accent);
          }
        }
      }

      .logo {
        color: var(--accent);
        font-size: 2em;
        font-weight: bold;
        overflow: hidden;
        width: 0;
        transition: all 0.2s;
        flex-shrink: 0;
        will-change: width;

        &.fixed {
          width: 55px;
        }
      }
    }
  }
}
