.pizza-modal {
  .modal-content {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 480px;
    align-items: center;

    @media (max-width: 992px) {
      grid-template-columns: 1fr 420px;
      max-width: 768px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      max-width: 596px;
    }

    .pizza-modal__img {
      aspect-ratio: 1/1;
      max-width: 100%;
      width: 100%;
      flex-shrink: 0;
      padding-left: 12px;

      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 992px) {
        max-width: 340px;
      }

      @media (max-width: 768px) {
        margin: 20px auto 0;

        picture {
          justify-content: center;
          width: 100%;
        }
      }

      @media (max-width: 376px) {
        margin: 10px auto 0;
      }

      img {
        transition: all 0.3s;
      }
    }

    .pizza-modal__content {
      align-self: stretch;
      padding: 10px 8px 10px 0;
      border-radius: 0 10px 10px 0;
      background: var(--background-secondary);

      @media (min-width: 769px) {
        margin-left: -12px;
      }

      .content-scroll {
        overflow: hidden;
        position: relative;
        max-height: 74vh;
        height: 460px;

        &__container {
          height: 100%;
          position: absolute;
          overflow-y: scroll;
          padding-right: 10px;
          padding-left: 12px;

          &::-webkit-scrollbar {
            width: 2px;
            background-color: var(--placeholder);
          }

          &::-webkit-scrollbar-track {
            background-color: var(--placeholder);
          }

          &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-modal);
            cursor: pointer;
            z-index: 1;
          }
        }
      }

      h4 {
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0 10px;

        @media (max-width: 768px) {
          margin-top: 0;
        }

        @media (max-width: 576px) {
          font-size: 20px;
        }
      }

      .content-description {
        margin-bottom: 10px;
        opacity: 0.4;
      }

      .content-structure {
        margin-bottom: 20px;

        @media (max-width: 576px) {
          font-size: 14px;
        }
      }

      .content-ingredients__title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;

        @media (max-width: 576px) {
          font-size: 16px;
        }
      }

      .content-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10px 10px;

        .main-button {
          width: 100%;
          max-width: 220px;

          @media (max-width: 426px) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
